#container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  
}

.aDiv {
  height: 50px;
  width: 77px;
  background-color: rgb(165, 214, 206);
  border: 1px solid black;
  box-sizing: border-box;

}